{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container marketing">

  <section id="team" class="team section-bg text-center featured-services">
    <div class="container aos-init aos-animate" data-aos="fade-up">

      <div class="section-title text-center">
        <h2>Campeonato</h2>
        <h3>Tabla de posiciones</h3>
        <p>Descensos, clasificación a copas internacionales y por supuesto, el campeón.</p>
      </div>

      <div class="table-responsive">

        <table class="table table-bordered text-center">
          <thead class="bg-dark text-light">
            <tr>
              <th scope="col">Pos</th>
              <th scope="col">Equipo</th>
              <th scope="col">PJ</th>
              <th scope="col">PG</th>
              <th scope="col">PE</th>
              <th scope="col">PP</th>
              <th scope="col">GF</th>
              <th scope="col">GC</th>
              <th scope="col">DF</th>
              <th scope="col">Puntos</th>
            </tr>
          </thead>
          <tbody>
            {% for equipo in posiciones %}
            <tr class="fondo row-{{forloop.counter}}">
              <th scope="row">{{forloop.counter}}</th>
              <td><img src="{{ equipo.equipo.imagen.url }}" alt="escudo" width="30"> {{equipo}}</td>
              <td>{{equipo.partidos_jugados}}</td>
              <td>{{equipo.partidos_ganados}}</td>
              <td>{{equipo.partidos_empatados}}</td>
              <td>{{equipo.partidos_perdidos}}</td>
              <td>{{equipo.goles_favor}}</td>
              <td>{{equipo.goles_contra}}</td>
              <td>{{equipo.diferencia}}</td>
              <td><strong>{{equipo.puntos}}</strong></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
  
      </div>

      
      <div class="row">
        <div class="col-lg-6">
          <h4 class="text-center pb-2">Abreviaciones</h4>
          <br>
          <p>Pos=Posiciones.  PG=Partidos Ganados.</p> 
          <p>PE=Partidos Empatados.  PP=Partidos Perdidos.</p> 
          <p>GF=Goles A Favor.  GC=Goles En Contra.</p> 
          <p>DF=Diferencia De Goles.  PJ=Partidos Jugados.</p>
        </div>
        <div class="col-lg-6 text-start">
          <h4 class="text-center pb-2">Simbología</h4>
          <p><img src="{% static 'img/color_campeon.png' %}" alt="" width="20"> Campeón/ Clasifica a Copa Libertadores</p>
          <p><img src="{% static 'img/color_libertadores.png' %}" alt="" width="20"> Clasifican a Copa Libertadores</p>
          <p><img src="{% static 'img/color_sudamericana.png' %}" alt="" width="20"> Clasifican a Copa Sudamericana</p>
          <p><img src="{% static 'img/color_sin_competencia.png' %}" alt="" width="20"> No clasifican a copas internacionales ni descienden</p>
          <p><img src="{% static 'img/color_descensos.png' %}" alt="" width="20"> Descienden directamente</p>
        </div>
      </div>

    
    </div>
  </section>
</div>

{% endblock %}