{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container marketing">

  <section id="team" class="team section-bg text-center">
    <div class="container aos-init aos-animate" data-aos="fade-up">

      <div class="section-title pb-2">
        <h2>Estadisticas</h2>
        <div>
          <h1>Los mejores del campeonato</h1>
          <p>Los máximos goleadores, los jugadores con más asistencias y los arqueros menos batidos.</p>
        </div>
      </div>

      <br>

      <div class="row justify-content-center">
        <div>
          <img src="{% static 'img/ataque.png' %}" alt="ataque" width="30">
          <h3 class="pb-3">Mejor Ataque</h3>
        </div>
        {% for a in ataque %}
        <div class="col-lg-3 rounded shadow p-4 m-3 card text-white bg-dark">
          <img class="bd-placeholder-img mx-auto" src="{{ a.equipo.imagen.url }}" alt="{{a.equipo}}" width="140" height="140">
          <h2 class="fw-normal">{{a.equipo}}</h2>
          <p>Goles {{a.goles_favor}}</p>
        </div><!-- /.col-lg-4 -->
        {% endfor %}
      </div><!-- /.row -->

      <br>
      <hr>
      <br>

      <div class="row justify-content-center">
        <div>
          <img src="{% static 'img/defensa.png' %}" alt="defensa" width="30">
          <h3 class="pb-3">Mejor Defensa</h3>
        </div>
        {% for d in defensa %}
        <div class="col-lg-3 rounded shadow p-4 m-3 card text-white bg-dark">
          <img class="bd-placeholder-img mx-auto" src="{{ d.equipo.imagen.url }}" alt="{{d.equipo}}" width="140" height="140">
          <h2 class="fw-normal">{{d.equipo}}</h2>
          <p>Goles {{d.goles_contra}}</p>
        </div><!-- /.col-lg-4 -->
        {% endfor %}
      </div><!-- /.row -->

      <br>
      <hr>
      <br>

      <div class="row">

        <div class="col-lg-3 col-md-6 pb-3 d-flex align-items-stretch aos-init aos-animate my-auto" data-aos="fade-up" data-aos-delay="200">
          <div>
            <h4>Maximos Goleadores</h4>
            <p>Estos son los máximos goleadores del campeonato.</p>
            <img src="{% static 'img/goleadores.png' %}" alt="" width="90">
          </div>
        </div>

        {% for g in goleadores %}
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
          <div class="member">
            <div class="member-img">
              <img src="{{ g.foto.url }}" class="img-fluid" alt="{{g.nombre_jugador}}" width="800" height="800">
              <div class="social">
                <p>{{g.equipo}} <img src="{{ g.equipo.imagen.url }}" alt="escudo" width="30"></p>
              </div>
            </div>
            <div class="member-info">
              <h4 class="text-capitalize">{{g.nombre_jugador}}</h4>
              <span>{{g.goles}} Goles</span>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>

      <hr>

      <div class="row">

        <div class="col-lg-3 col-md-6 pb-3 d-flex align-items-stretch aos-init aos-animate my-auto" data-aos="fade-up" data-aos-delay="200">
          <div>
            <h4>Mayores Asistidores</h4>
            <p>Los jugadores con más asistencias del torneo.</p>
            <img src="{% static 'img/asistidores.png' %}" alt="" width="90">
          </div>
        </div>

        {% for a in asistentes %}
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
          <div class="member">
            <div class="member-img">
              <img src="{{ a.foto.url }}" class="img-fluid" alt="{{a.nombre_jugador}}" width="800" height="800">
              <div class="social">
                <p>{{a.equipo}} <img src="{{ a.equipo.imagen.url }}" alt="escudo" width="30"></p>
              </div>
            </div>
            <div class="member-info">
              <h4 class="text-capitalize">{{a.nombre_jugador}}</h4>
              <span>{{a.asistencias}} Asistencias</span>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>

      <hr>

      <div class="row">

        <div class="col-lg-3 col-md-6 pb-3  d-flex align-items-stretch aos-init aos-animate my-auto" data-aos="fade-up" data-aos-delay="200">
          <div>
            <h4>Mejores Arqueros</h4>
            <p>Los arqueros titulares con menos goles en contra.</p>
            <img src="{% static 'img/arqueros.png' %}" alt="" width="90">
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
          <div class="member">
            <div class="member-img">
              <img src="{% static 'img/palacios.jpg' %}" class="img-fluid" alt="palacios">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Cristian Palacios</h4>
              <span>Universidad de Chile</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
          <div class="member">
            <div class="member-img">
              <img src="{% static 'img/zampedri.jpg' %}" class="img-fluid" alt="zampedri">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Fernando Zampedri</h4>
              <span>Universidad Católica</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
          <div class="member">
            <div class="member-img">
              <img src="{% static 'img/coelho.jpg' %}" class="img-fluid" alt="coelho">
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Diego Coelho</h4>
              <span>Curicó Unido</span>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>

</div>
{% endblock %}