{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    <section>
      <div class="container marketing">
        <br>
        <div class="row featurette">
          <div class="col-md-5 text-center pt-5">
            <h2 class="featurette-heading fw-normal lh-1">Aquí podrás ver: <span class="text-muted">GOLES, ASISTENCIAS Y MUCHO MÁS.</span></h2>
            <p class="lead">Saber sobre tus jugadores <b>favoritos</b>, como: Ronnie <b>Fernandez</b>, Gabriel <b>Costa</b> y Lucas <b>Melano</b>.</p>
            <img class="img-fluid rounded" src="{% static 'img/logo1.png' %}" alt="logo1">      
          </div>
          <div class="col-md-7 text-center">
            <img class="img-fluid rounded" src="{% static 'img/imagen1.jpg' %}" alt="futbol1" width="500" height="500">      
          </div>
        </div>
        <hr>  
      </div>

      <div class="container marketing">
        <div class="row featurette">
          <div class="col-md-5 text-center pt-5">
            <h2 class="featurette-heading fw-normal lh-1">Estar al día con: <span class="text-muted">LA TABLA DE POSICIONES.</span></h2>
            <p class="lead"><b>Clasificación</b> a copas internacionales, <b>descensos</b> a primera B y sobre todo, la lucha por el <b>título</b>.</p>
            <img class="img-fluid rounded" src="{% static 'img/logo2.png' %}" alt="logo2">      
          </div>
          <div class="col-md-7 text-center">
            <img class="img-fluid rounded" src="{% static 'img/imagen2.png' %}" alt="futbol2" width="500" height="500">      
          </div>
        </div>
        <hr>  
      </div>

      <div class="container marketing">
        <div class="row featurette">
          <div class="col-md-5 text-center pt-5">
            <h2 class="featurette-heading fw-normal lh-1">Información sobre: <span class="text-muted">LOS EQUIPOS DEL CAMPEONATO.</span></h2>
            <p class="lead">Conocer quienes son los <b>goleadores</b>, los <b>asistidores</b> y los arqueros <b>menos batidos</b> del campeonato.</p>
            <img class="img-fluid rounded" src="{% static 'img/logo3.png' %}" alt="logo3">      
          </div>
          <div class="col-md-7 text-center">
            <img class="img-fluid rounded" src="{% static 'img/imagen3.jpg' %}" alt="futbol3" width="500" height="500">      
          </div>
        </div>
        <hr>  
      </div>
      
    </section>
</main>
{% endblock %}
