{% extends 'base.html' %}
{% load static %}

{% block content %}

<body class="fondo-futbol">

  <main class="container">
    <br>
    <div class="row">
      <div class="col-md-4 offset-md-4 my-4 py-5 pb-5">
        {% if error %}
        <div class="alert alert-danger" role="alert">
          {{error}}
        </div>
        {% endif %}
        <form method="POST" class="card card-body shadow p-3 mb-5 bg-white rounded">
          <img class="img-fluid mx-auto" src="{% static 'img/logo.png' %}" alt="logo" width="72">
          <h1 class="h3 mb-3 fw-normal text-center">Inicio de sesión</h1>
          {% csrf_token %}
          <div class="mb-3">
            <input id="username" name="username" type="text" class="form-control" placeholder="Nombre de Usuario" required>
          </div>

          <div class="mb-3">
            <input id="password" name="password" type="password" class="form-control" placeholder="Contraseña" required>
          </div>

          <button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar Sesión</button>
          <p class="mt-3 mb-3 text-muted text-center">© 2022–2023</p>
        </form>
      </div>
    </div>
    <br><br>
  </main>

</body>
{% endblock %}